<% content_for :page_title do %>
  <%= plural_resource_name(Spree::StockItem) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_products_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>

      <div data-hook="admin_stock_itemss_index_search" class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :search_by_variant_product_name, Spree.t(:name) %>
            <%= f.text_field :search_by_variant_product_name, size: 15, class: "form-control js-quick-search-target" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :variant_sku_cont, Spree.t(:sku) %>
            <%= f.text_field :variant_sku_cont, size: 15, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag :variant_storage_location_eq, Spree.t(:storage_location) %>
            <%= f.select :variant_storage_location_eq, @variant_storage_location,
              { include_blank: Spree.t('match_choices.all') }, class: 'select2 js-filterable' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag :variant_product_producer_name_eq, Spree.t(:producer) %>
            <%= f.select :variant_product_producer_name_eq, @producer_names,
              { include_blank: Spree.t('match_choices.all') }, class: 'select2 js-filterable' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= label_tag :stock_location_id_eq, Spree.t(:stock_location) %>
            <%= f.select :stock_location_id_eq, Spree::StockLocation.all.map { |stock_location| [stock_location.name, stock_location.id] },
              { include_blank: true }, class: 'select2 js-filterable' %>
          </div>
        </div>
      </div>
      <div data-hook="admin_stock_items_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>

<!-- <div id='stock-items-div' class='container-fluid' >
  <div class="row">
    <div class="col-4">
      <% #= label_tag Spree.t(:select_stock_location) %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
       <% #= Ppal %>
       <% #= select_tag :stock_location, options_for_select(Spree::StockLocation.all.map { |stock_location| [stock_location.name, stock_location.id, data: { url: admin_stock_items_url(q: search_params, per_page: params[:per_page], stock_location: stock_location.name) }] }, @stock_location.id), class: 'select2', id: 'stock-location-selector', data: { hook: 'stock-location-selector' } %>

      <% #= select_tag :stock_location, options_for_select(Spree::StockLocation.all.map { |stock_location| [stock_location.name, stock_location.id, data: { url: admin_stock_items_url(q: search_params, per_page: params[:per_page], stock_location: stock_location.name) }] }, @stock_location&.id), include_blank: true, class: 'select2 stock-location-selector', id: 'stock-location-selector', data: { hook: 'stock-location-selector' } %>
    </div>
  </div>
</div>
 -->
<div data-hook='admin_stock_inventory_management'>
  <%= render partial: 'stock_items' %>
</div>

<%= javascript_include_tag 'spree/backend/stock_inventory_manager' %>

<script>
  //$('.stock-location-selector')[0].firstChild.dataset['url'] = '<%= admin_stock_items_url(clear_select_st: true) %>'
  $(function() {
    $('.js-show-index-filters').trigger( "click" );
  })
</script>
