<%= render partial: 'spree/shared/error_messages', locals: { target: @stock_movement_reason } %>
<div class="form-group">
  <%= f.field_container :reason do %>
    <%= f.label :reason %>
    <%= f.text_field :reason, class: 'form-control' %>
  <% end %>

  <%= f.field_container :enabled do %>
    <%= f.label :enabled %>
    <%= f.check_box :enabled, class: 'form-control'  %>
  <% end %>
</div>